<html>

<body>
    {% include "barra.html" %}
    <!--{%comment %} donde quiera integrar una barra, se integra con esta linea {%endcomment%} -->



    <h1 style="color: red">
        Hola alumnos, esta es nuestra primera vista con Django, desde una plantilla
    </h1>
    {% if apellido_persona == "Diaz" %}
    <p>El curso lo imparte el profesor titular</p>
    {% else %}
    <p> El curso lo realiza el profesor suplente </p>
    {% endif %}
    <p>el nombre del profesor es: {{nombre_persona|lower}} {{apellido_persona}}</p>
    <p>Estamos viendo el tema de las plantillas a dia: {{fecha.day}}</p>
    <p><strong>Temas del curso:</strong></p>
    <p>
        <ul>
            <!-- {% comment %} esta parte funciona como un forEach de js {% endcomment %} -->
            {% if temas %} {% for i in temas %}
            <li> {{i|first|lower}} </li>
            {% endfor %} {% else %}
            <p>No hay elemtos que mostrar porque la lista esta vacia</p>
            {% endif %}
        </ul>
    </p>

</body>

</html>